.event-button {
    background-image: url("../../../assets/new-event.png");
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
}