<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1> LunchNed! </h1>
  <img width="300" alt="Angular Logo" src="../assets/SagenedLogo.png">
</div>
<div class="card-container" 
  *ngIf="cards$ | async as cardRequest">
  <app-event-card 
    *ngFor="let card of cardRequest" 
    [id]="card.id"
    [attendees]="card.attendees"
    [host]="card.host"
    [when]="card.when"
    [what]="card.what"
    [where]="card.where">
  </app-event-card>
</div>

<app-new-event-button></app-new-event-button>

<router-outlet></router-outlet>