<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <img class="header-logo" alt="Angular Logo" src="../assets/simpleLogo.png" alt="www.safened.com">
  <div class="header-title">@laCarte</div>
</div>
<div class="card-container" 
  *ngIf="cards$ | async as cardRequest">
  <app-event-card 
    *ngFor="let card of cardRequest" 
    [id]="card.id"
    [attendees]="card.attendees"
    [host]="card.host"
    [when]="card.when"
    [what]="card.what"
    [where]="card.where"
    (attendee)=fetchCards()>
  </app-event-card>
</div>

<div class="event-button" title="Add your new event!" (click)="generateEvent()">
  <img class = "event-button-img" src="../assets/new-event.png"/>
</div>

<app-new-form *ngIf="showForm" (closed)="closeForm()" (newEvent)="fetchCards()"></app-new-form>

<div class="page-mask" *ngIf="showForm" (click)="closeForm()"></div>

<router-outlet></router-outlet>