.header {
    background-image: linear-gradient(to right, #91d3c1, #3aaa8c);
    height: 89px;
    border-bottom: 2px solid #639083;
    box-shadow: -2px 9px 20px 1px #0000004d;
    margin-bottom: 10px;
}

.header-logo {
    width: 83px;
    float: left;
    margin-top: 2px;
    margin-left: 12px;
}

.header-title {
    font-family: "OpenSansBold";
    float: left;
    margin-left: 18px;
    margin-top: 8px;
    font-size: 52px;
    color: #134D71;
    margin-left: 10px;
}

.card-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.event-button {
    width: 75px;
    height: 75px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
}

.event-button-img {
    max-width: 100%; 
    max-height: 100%;
}

.page-mask {
    background: rgba(0, 0, 0, 0.23);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
  }

@font-face {
    font-family: 'OpenSansBold'; /*a name to be used later*/
    src: url('../assets/OpenSans-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'OpenSans'; /*a name to be used later*/
    src: url('../assets/OpenSans-Regular.ttf'); /*URL to font*/
}