<div class="event-card">
    <p class="card__text"><strong>Host name:</strong> {{host}}</p> <p class="attendees-field">{{attendees}}</p><img class="people-joining" alt="People joined" src="../assets/peopleJoined.png"/>
    <p class="card__text"><strong>When:</strong> {{ when | date : 'MM/dd/yyyy, h:mm a' }}</p>
    <p class="card__text"><strong>Where:</strong> {{where}}</p>
    <p class="card__text"><strong>What:</strong> {{what}}</p>
    <div class="attend-button" (click)="addAttendee()" title="Join!">
        <img class="attend-button-img" src="../assets/AddAttendee2.png"/>    
    </div>
</div>
