<div class="formContainer">
    <div class="close-new-event-form-button" (click)="closeForm()" title="close">
        <img class="close-new-event-button-img" src="../assets/cancel.png"/>    
    </div>
    <div class="new-form-title">New Event!</div>
    <div class="form-body">
            <p><input (input)="thost=$event.target.value" type="text" class="form-control" placeholder="Your name"></p>
            <p><input (input)="twhen=$event.target.value" type="datetime-local" class="form-control" placeholder="2019-12-31 23:00"></p>
            <p><input (input)="twhat=$event.target.value" type="text" class="form-control" placeholder="What you want to organize!"></p>
            <p><input (input)="twhere=$event.target.value" type="text" class="form-control" placeholder="In the bar downstais :D"></p>
    </div>
    <div class="new-event-form-button" title="Add your new event!" (click)="addEvent()">
        <img class="event-button-img" src="../assets/newEvent2.png"/>    
    </div>
</div>
