.formContainer {
    min-width: 400px;
    max-width: 400px;
    min-height: 200px;
    height: 200px;
    background-color: rgb(254, 254, 181);
    overflow: hidden;
    padding-left: 25px;
    padding-top: 10px;
    position: absolute;
    box-shadow: 5px 5px #000000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}